@use "../../asbtract/" as *;
.menuToggle{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 12;
    width: 45px;
    height: 45px;
    background: url("../../../../assets/img/ba.png");
    background-size: contain;
}
aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    width: 20%;
    height: 95%;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0 4px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;


    header {
        padding: 2em;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        div {
            display: flex;
            justify-content: center;
            margin-bottom: 1em;

            img {
                width: 50%;
                border-radius: 50%;
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        border-collapse: collapse;
        flex-grow: 1;

        ul {
            li {
                border-top: 1px solid black;

                &:last-child {
                    border-bottom: 1px solid black;
                }

            }

            a {
                display: block;
                padding: 12px 0;
                transition: .5s;

                &:hover {
                    background-color: white;
                }
            }
        }

    }

    footer {
        ul {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: 2em auto;
        }

        li {
            width: 20%;
            height: 50px;
            transition: .5s;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80%;
                height: 80%;
                margin: auto;
            }

            &:hover {
                background-color: white;
                border-radius: 50%;
            }
        }
    }
    @include md{
        display: none;
        width: 45%;
        height: 100%;
        right: 0;
        z-index: 11;

        &.slideLeft{
            animation: slideLeft 1s ease-out;
        }
        &.slideRight{
            animation: slideRight 1s ease-out;
        }
    }
    @include sm{
        width: 70%;
    }
    @keyframes slideLeft {
        0%{
            right: -350px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes slideRight {
        100%{
            right: -350px;
        }
    }
}