$red : red;
$black : rgb(28, 26, 32);
$purpleBlack : rgb(21, 19, 24);
$white : white;
$white : rgb(246, 247, 244);
$beige : rgb(140, 168, 182);
$lightGrey : rgba(128, 128, 128, 0.200);

$test: #04001b;

$starOneT : 0%;
$starOneR : 0%;
$starOneDelay : 0s;
$starTwoT : 0%;
$starTwoR : 10%;
$starTwoDelay : 10s;
$starThreeR : 0%;
$starThreeT : 15%;
$starThreeDelay : 20s;
$sideSpace : 15px;