@use "../../asbtract/" as *;

body {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

#wraper {
    width: 78%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 2px 5px 5px $beige;
    color: lightblue;

    #main {
        section {
            display: flex;
            flex-flow: column;
            row-gap: 2.5em;
            width: 80%;
            padding: 4em 0;
            margin: 0 auto;

            color: black;

            &:not(:first-child) {
                border-top: 3px solid rgb(0, 0, 0);
            }
        }

        &-competences {
            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                li {
                    width: 40%;

                    &:first-child,
                    &:nth-of-type(2){
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                li::before {
                    display: block;
                    width: 20px;
                    height: 10px;
                    content: url("../assets/img/dragon-solid.svg");
                    position: relative;
                    left: -30px;
                    top: 10px;


                }

            }
        }

        &-projectsDone {
            article {
                width: 80%;
                height: 250px;
                border-bottom: 2px solid grey;
                padding-bottom: 30px;

                margin: {
                    top: 30px;
                    right: auto;
                    left: auto;
                }
                img {
                    width: 80%;
                    height: 100%;
                    margin: 0 auto;
                    border-radius: 5px;
                }
                div:first-of-type{
                    width: 48%;
                    vertical-align: middle;
                    display: inline-block;
                }
                div:nth-of-type(2) {
                    display: inline-flex;
                    flex-direction: column;
                    vertical-align: middle;
                    row-gap: 20px;
                    width: 50%;
                }

                &:last-child {
                    border: none;
                }
            }
        }

        &-projectsNow {
            div {
                display: flex;
                justify-content: space-between;
                width: 90%;
                margin: 0 auto;

                img {
                    width: 45%;
                }

                p {
                    width: 50%;
                    align-self: center;
                }
            }
        }
    }
}