@use "../../asbtract/" as *;

body {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    
    @include md {
        padding: 0;
    }
}

#wraper {
    width: 78%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
    color: lightblue;

    #main {
        section {
            display: flex;
            flex-flow: column;
            row-gap: 2.5em;
            width: 80%;
            padding: 4em 0;
            margin: 0 auto;

            color: black;

            &:not(:first-child) {
                border-top: 3px solid rgb(0, 0, 0);
            }
        }

        &-competences {
            div{
                display: flex;
                justify-content: space-between;
                width: 70%;
                margin: 0 auto;

                @include sm{
                    flex-direction: column;
                    row-gap: 1.5rem;
                    width: 90%;
                    margin-left: auto;
                    margin-right: 0;
                    justify-content: baseline;
                }
            }
            ul {
                color: black;
                li {
                    &:first-child{
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                li:not(:first-of-type)::before {
                    display: block;
                    width: 20px;
                    height: 10px;
                    content: url("../assets/img/dragon-solid.svg");
                    position: relative;
                    left: -30px;
                    top: 10px;
                }
            }
        }

        &-projectsDone {
            article {
                width: 80%;
                height: 250px;
                border-bottom: 2px solid grey;
                padding-bottom: 30px;

                margin: {
                    top: 30px;
                    right: auto;
                    left: auto;
                }

                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 80%;
                    height: 100%;
                    margin: 0 auto;
                    border-radius: 5px;
                    &.thin{
                        width: 40%;
                    }
                }
                
                div:first-of-type {
                    width: 48%;
                    vertical-align: middle;
                    display: inline-block;
                    @include sm{
                        width: 100%;
                    }
                }

                div:nth-of-type(2) {
                    display: inline-flex;
                    flex-direction: column;
                    vertical-align: middle;
                    row-gap: 20px;
                    width: 50%;

                    @include sm {
                        width: 100%;
                        text-align: center;
                    }
                }

                &:last-child {
                    border: none;
                }
                @include sm{
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                }
                @include lg{
                    width: 100%;
                    height: max-content;
                }
            }
        }

        &-projectsNow {
            div {
                display: flex;
                justify-content: space-between;
                width: 90%;
                margin: 0 auto;

                img {
                    width: 45%;
                    @include sm{
                        width: 100%;
                    }
                }

                p {
                    width: 50%;
                    align-self: center;
                    @include sm{
                        width: 100%;
                    }
                }
                @include sm{
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }
    @include md{
        width: 100%;;
    }
}