@use "../../asbtract" as *;

.blur {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);

    .close {
        width: 30px;
        height: 30px;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    &-projRecap {
        width: 75%;
        height: 70%;
        margin: 8% auto;
        padding: 2em 1.5em;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
        color: black;

        >div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

        }

        >div:last-of-type {
            @include sm {
                flex-direction: column;
                row-gap: 10px;
            }
        }

        h3 {
            margin-bottom: 10px;
        }

        .img {
            display: flex;
            position: relative;
            align-items: center;
            width: 48%;
            height: 500px;

            img:not(:nth-child(2)) {
                width: 30px;
                height: 30px;

            }

            img:nth-child(1) {
                left: $sideSpace;
                cursor: pointer;
            }

            img:nth-child(3) {
                right: $sideSpace;
                cursor: pointer;
            }

            @include sm {
                width: 100%;
                height: 250px;
            }
        }

        .mainPic {
            width: 250px;
            height: 500px;
            margin: auto;

            @include lg {
                width: 250px;
                height: 400px;
            }

            @include sm {
                width: 125px;
                height: 250px;
            }

            &.wider {
                width: 400px;
                height: 350px;

                @include md {
                    width: 250px;
                    height: 250px;
                }

            }

            &.back {
                width: 100%;

                @include sm {
                    width: 300px;
                    height: 200px;
                }
            }

            &.tetris {
                width: 400px;

                @include md {
                    width: 250px;
                    height: 300px;
                }
                @include sm{
                    width: 200px;
                    height: 250px;
                }
            }


        }

        .textContent {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: 47%;

            h3 {
                margin: 0
            }

            li {
                float: left;

                &:not(:last-of-type) {
                    margin-right: 15px;
                }

                &:not(:first-of-type) {
                    list-style-type: "- ";
                }
            }

            nav {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-top: 20px;
            }

            a {
                text-decoration: underline;
                color: blue;
            }

            @include lg {
                font-size: 14px;
                max-height: 450px;
                overflow-y: scroll;
            }

            @include sm {
                width: 100%;
                max-height: 280px;
            }
        }

        @include lg {
            width: 80%;
            height: 80%;
        }

        @include md {
            width: 95%;
            height: 85%;
        }
    }
}