@use "../../asbtract" as *;

.blur {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);

    .close {
        width: 30px;
        height: 30px;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    &-projRecap {
        width: 75%;
        height: 70%;
        margin: 8% auto;
        padding: 2em 1.5em;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
        color: black;

        >div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        h3 {
            margin-bottom: 10px;
        }

        .img {
            display: flex;
            position: relative;
            align-items: center;
            width: 48%;
            height: 500px;
            img:not(:nth-child(2)) {
                width: 30px;
                height: 30px;

            }

            img:nth-child(1) {
                left: $sideSpace;
                cursor: pointer;
            }

            img:nth-child(3) {
                right: $sideSpace;
                cursor: pointer;
            }
        }

        .mainPic {
            width: 250px;
            height: 500px;
            margin: auto;

            &.wider {
                width: 400px;
                height: 350px;
                @include md{
                    width: 250px;
                    height: 250px;
                }
            }
            &.tetris {
                width: 400px;

                @include md{
                    width: 250px;
                    height: 300px;
                }
            }
            
            @include lg{
                width: 250px;
                height: 400px;
            }
        }

        p {
            width: 47%;
            align-self: center;
            text-align: center;
            letter-spacing: 1;

            @include lg{
                font-size: 14px;
            }
        }
        @include lg{
            width: 80%;
            height: 80%;
        }
        @include md{
            width: 95%;
            height: 85%;
        }
    }
}